<a href="https://colab.research.google.com/github/lingpri/congenial-sniffle/blob/main/2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Find the product of the numbers, whose sum is equal to 2020.

In [184]:
def data(day: int, parser=str, sep='\n') -> list:
    "Split the day's input file into sections separated by `sep`, and apply `parser` to each."
    sections = open(f'../content/sample_data/day{day}').read().rstrip().split(sep)
    return [parser(section) for section in sections]

In [186]:
def first(iterable, default=None) -> object:
    "Return first item in iterable, or default."
    return next(iter(iterable), default)


def day1_1(nums):
    "Find 2 distinct numbers that sum to 2020, and return their product."
    return first(x * y 
                 for x in nums
                 for y in nums & {2020 - x} 
                 if x != y)

In [167]:
def day1_2(nums):
    "Find 3 distinct numbers that sum to 2020, and return their product."
    return first(x * y * z 
                 for x, y in combinations(nums, 2) 
                 for z in nums & {2020 - x - y} 
                 if x != z != y)

In [187]:
in1: Set[int] = set(data(1,int))
print(in1)

{609, 128, 1161, 1718, 1732, 713, 1737, 1746, 1747, 1750, 1752, 1762, 1765, 1770, 1771, 1778, 1782, 1784, 1786, 1787, 1790, 1792, 1793, 1795, 1801, 1803, 1807, 1808, 280, 1817, 1818, 1822, 1827, 1833, 1841, 1845, 1846, 1847, 1848, 1849, 1855, 1858, 1860, 1865, 1871, 1874, 1876, 1878, 1885, 1887, 1889, 1893, 1381, 1895, 1898, 1899, 1900, 1905, 1908, 1909, 1914, 1919, 1920, 390, 1929, 1931, 1932, 398, 1936, 1939, 1942, 1946, 1948, 1949, 1952, 1954, 1957, 1958, 1959, 1960, 1962, 1964, 1966, 1967, 1970, 1972, 1973, 1975, 1976, 1977, 1979, 1982, 1989, 1991, 1999, 2004, 1494, 2006, 2010, 1515}

In [188]:
day1_1(in1)

In [190]:
for i in in1:
    if(889779 % i == 0):
        print(divmod(889779,i))

In [183]:
print(1371*649)

889779

In [200]:
nums = {1732,1972,1822,1371,649}

In [201]:
len(nums)

5

In [205]:
for j in nums:
    for i in nums & {2020 - j} :
        print(i, j, j+i, j * i)

1371 649 2020 889779
649 1371 2020 889779